{% extends 'shared/layout.html' %}

{% block maincontent %}
    <div id="proj-page-text">
        <p><span id="piano-page-text">
                Behold piano great and old, it's master slumbers in far off cold, If you 
                wish to see anew, call out to it - <span id="we-see-you">we see you</span>.
        </span></p>
        <hr>
    </div>
    <!-- Piano Container -->
    <div id="piano-content">
        <h1 id="piano-text">The Great Old One</h1>
        <!-- Keys -->
        <ul id="keys">
            <li id="key-A"  class="w-key"><p class="k-text">A</p></li>
            <li id="key-W"  class="b-key"><p class="k-text">W</p></li>
            <li id="key-S"  class="w-key"><p class="k-text">S</p></li>
            <li id="key-E"  class="b-key"><p class="k-text">E</p></li>
            <li id="key-D"  class="w-key"><p class="k-text">D</p></li>
            <li id="key-F"  class="w-key"><p class="k-text">F</p></li>
            <li id="key-T"  class="b-key"><p class="k-text">T</p></li>
            <li id="key-G"  class="w-key"><p class="k-text">G</p></li>
            <li id="key-Y"  class="b-key"><p class="k-text">Y</p></li>
            <li id="key-H"  class="w-key"><p class="k-text">H</p></li>
            <li id="key-U"  class="b-key"><p class="k-text">U</p></li>
            <li id="key-J"  class="w-key"><p class="k-text">J</p></li>
            <li id="key-K"  class="w-key"><p class="k-text">K</p></li>
            <li id="key-O"  class="b-key"><p class="k-text">O</p></li>
            <li id="key-L"  class="w-key"><p class="k-text">L</p></li>
            <li id="key-P"  class="b-key"><p class="k-text">P</p></li>
            <li id="key-Se" class="w-key"><p class="k-text">;</p></li>
        </ul>
    </div>
{% endblock %}